@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,503;1,14..32,503&display=swap');

.maindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credMan {
    font-size: 40px;
    font-weight: 700;
    color: #971883;
    font-family: "Inter";
}

.nav-link {
    display: inline;
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
    line-height: 29.05px;
    color: #000000;
    border: 1px solid black;
    padding: 0.5rem;
}

/* for mobile */

@media (max-width: 500px) {
    .credMan {
      font-size: 30px;
    }
  }